body{
    font-family: system-ui, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#373867;
}
aside{
    position: fixed;
    float: left;
    width: 19.50%;
    background-color: #AACE9B;
    height: 100%;
}
aside img{
    position:absolute;
    top: 15px;
    left: 95px;
}
header{
    position: relative;
    float: right;
    width: 80.50%;
    color: #AACE9B;
    background-color: #373867;
    height: 135px;
}
section{
    display: inline-block;
    position: relative;
    float: right;
    width: 80.50%;
    background-color: white;
    height: 981px;
}
#presentation-text{
    position: relative;
    top: 141px;
    left: 74px;
}
footer{
    position: relative;
    float: right;
    width: 80.50%;
    color: #AACE9B;
    background-color: #373867;
    height: 135px;
}
header img{
    position:absolute;
    top: 45px;
    left: 45px;
}
p{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.44px;
}
h1{
    font-size: 40px;
    position:absolute;
    text-transform: uppercase;
    top: 35px;
    left: 310px;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
}
h3{
    font-size: 30px;
}


#main-information{
    position: absolute;
    top: 68px;
    left: 68px;
    width: 446px;
}

#section-1 img{
    position: absolute;
    width: 810px;
    height: 684px;
    top: 91px;
    left: 434px;

}
#main-information p{
    margin-top: 20px;
    
}
#main-information h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
